* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: white;
}
nav {
  width: 100%;
  border: 2px solid red;
  position: relative;
  padding: 2.4rem 13rem;
  padding-bottom: 0rem;
}
a {
  text-decoration: none;
}
nav h1 {
  display: inline-block;
  font-size: 2rem;
}
nav h1 a {
  color: white;
}
nav ul {
  border: 2px solid blue;
  display: flex;
  float: right;
  margin: 0px;
  padding: 0px;
  list-style: none;
  gap: 4rem;
  font-size: 1.3rem;
}
nav ul a {
  font-size: 1.3rem;
  color: rgba(52, 58, 64, 0.7);
}
.hamburger {
  width: 1rem;
  position: absolute;
  top: 0px;
  left: 50%;
  line-height: 0.1rem;
  display: none;
}
.hamburger {
  display: none;
}

.hamburger span {
  width: 1rem;
  height: 0.1rem;
  display: inline-block;
  background-color: black;
}

header {
  width: 100%;
  height: 550px;
  background-color: #ff4c68;
  position: relative;
}
header p {
  position: relative;
  border: 2px solid black;
  width: 26rem;
  top: 3rem;
  left: 15%;
  font-size: 3.2rem;
  color: white;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
}
header div {
  position: relative;
  top: 5rem;
  left: 15%;
  display: inline-block;
}

svg {
  width: 5rem;
  color: rgb(239, 129, 114);
}
header div button {
  font-size: 1rem;
  border-radius: 5px;
  padding: 5px 12px;
  color: white;
  border: none;
  position: relative;
  font-size: 1.2rem;
  bottom: -1rem;
}
header div button i {
  padding-right: 5px;
}

header div > button:first-child {
  background-color: #343a40;
}

header div > button:first-child i {
  font-size: 1.2rem;
}

header div > button:first-child:hover {
  cursor: pointer;
  background-color: rgba(52, 58, 64, 0.8);
}

header div > button:last-child {
  border: 1px solid white;
  background-color: transparent;
}

header div > button:last-child:hover {
  background-color: white;
  color: #343a40;
}
header img {
  top: 9rem;
  width: 20%;
  position: absolute;
  right: 26%;
  transform: rotate(25deg);
  z-index: 0;
}

.testimonials {
  padding: 10% 0%;
  position: relative;
  background-color: white;
  z-index: 2;
}
.testimonials__container {
  border: 2px solid black;
  padding: 0 5%;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-evenly;
}
.testimonials__box {
  text-align: center;
  font-size: 1.2rem;
  flex: 1;
  flex-basis: 15rem;
  height: 13rem;
  flex-grow: 0;
  line-height: 1.5;
}
.cuarsle {
  border: 2px solid firebrick;
  background-color: #ef8172;
  padding: 0% 3%;
  height: 400px;
}
.cursle__container {
  position: relative;
  width: 100%;
  /* height: 400px; */
  margin: 0px;
  padding: 0px;
  list-style: none;
  width: 86%;
  width: 100%;
}
.cursle__img {
  width: 86px;
  border-radius: 50%;
}
.cursle_elements {
  text-align: center;
  width: 100%;
  padding: 3% 15%;
  line-height: 1.3;
  background-color: #ef8172;
  position: absolute;
}
.imgwithname {
  display: inline-block;
  position: relative;
  padding: 2% 0%;
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
  width: 15rem;
}
.imgwithname i {
  position: absolute;
  top: 50%;
  padding-left: 2%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255);
  display: inline;
}
