* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* min-width: 100%; */
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

nav {
  width: 100%;
}

nav h1 {
  position: absolute;
  font-size: 2rem;
  top: 0px;
}

nav h1 a {
  color: white;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4rem;
  text-decoration: none;
  list-style: none;
  -webkit-box-pack: right;
  -ms-flex-pack: right;
  justify-content: right;
}

nav ul a {
  font-size: 1.3rem;
  color: rgba(52, 58, 64, 0.7);
}

.hamburger {
  width: 1rem;
  position: absolute;
  top: 0px;
  left: 50%;
  line-height: 0.1rem;
  display: none;
}

.hamburger {
  display: none;
}

.hamburger span {
  width: 1rem;
  height: 0.1rem;
  display: inline-block;
  background-color: black;
}

header {
  width: 100%;
  height: 90vh;
  z-index: 0;
}

header p {
  position: relative;
  width: 28rem;
  height: auto;
  top: 20%;
  left: 15%;
  font-size: 3.5rem;
  color: white;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
}

header div {
  position: relative;
  top: 25%;
  left: 15%;
}

header div button {
  font-size: 1rem;
  border-radius: 5px;
  padding: 5px 12px;
  color: white;
  border: none;
  position: relative;
  bottom: 0px;
}

header div button i {
  padding-right: 5px;
}

header div > button:first-child {
  background-color: #343a40;
}

header div > button:first-child i {
  font-size: 1.2rem;
}

header div > button:first-child:hover {
  cursor: pointer;
  background-color: rgba(52, 58, 64, 0.8);
}

header div > button:last-child {
  border: 1px solid white;
  background-color: transparent;
}

header div > button:last-child:hover {
  background-color: white;
  color: #343a40;
}

header img {
  width: 20vw;
  position: relative;
  top: -33vh;
  left: 55%;
  -webkit-transition: 5ms;
  transition: 5ms;
  -webkit-transform: rotate(24deg);
  transform: rotate(24deg);
  z-index: 1;
}

/* .testimonials {
  background-color: white;
  position: relative;
  z-index: 2;
}

.testimonials__container {
  border: 2px solid blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.testimonials__box {
  border: 2px solid red;
  text-align: center;
  -ms-flex-preferred-size: 15%;
  flex-basis: 15%;
}

.testimonials__box svg {
  width: 5rem;
}
# sourceMappingURL=style.css.map */
svg {
  width: 5rem;
}
.testimonials {
  width: 100%;
  border: 2px solid red;
  /* height: 85vh; */
  padding: 15% 8%;
}
.testimonials__container {
  border: 2px solid black;
  /* height: 100%; */
  display: flex;
  /* margin: 15% 0px; */
  list-style: none;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: center;
}
.testimonials__box {
  border: 2px solid blue;
  text-align: center;
  font-size: 1.5rem;
  flex: 1;
  min-width: 25%;
  line-height: 1.5;
}
